
<div class="p-grid logros">
    <h2 class="titulo">LOGROS</h2>
</div>

<div class="p-grid logros2">
    <div class="p-col-2">
        <img class="carreras-img" src="assets/images/logros/carreras.png" alt="Carreras Acreditadas"><br>
        <strong>CARRERAS<br>ACREDITADAS</strong>
    </div>
    <div class="p-col-2">
        <img class="alumnos-img" src="assets/images/logros/alumnos.png" alt="Alumnos Becarios"><br>
        <strong>ALUMNOS<br>BECARIOS</strong>
    </div>
    <div class="p-col-2 convenios">
        <img class="convenios-img" src="assets/images/logros/convenios.png" alt="Convenios Firmados"><br>
        <strong>CONVENIOS<br>FIRMADOS</strong>
    </div>
    <div class="p-col-2">
        <img class="investigaciones-img" src="assets/images/logros/investigaciones.png" alt="Investigaciones Publicadas"><br>
        <strong>INVESTIGACIONES<br>PUBLICADAS</strong>
    </div>
    <div class="p-col-2">
        <img class="fondos-img" src="assets/images/logros/fondos.png" alt="Fondos Concursables"><br>
        <strong>FONDOS<br>CONCURSABLES</strong>
    </div>
    <div class="p-col-2">
        <img class="proyectos-img" src="assets/images/logros/proyectos.png" alt="Proyectos de Emprendimiento"><br>
        <strong>PROYECTOS DE<br>EMPRENDIMIENTO</strong>
    </div>
</div>
