
@import '../../../shared/colores.scss';

.titulo{
    margin-top: 40px;
    margin-left: 80px;
    color: $rojoPrimario;
}

.logros{
    background-color: white;
    height: 110px;
}

.logros2{
    float: center;
    color: $rojoPrimario;
    text-align: center;
    font-size: 15px;
    background-color: white;
    height: auto;
    padding: 0% 5%;
    margin-bottom: 5%;
}

.carreras-img{
    float: center;
    margin-bottom: 8px;
    width: auto;
    height: 102px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.alumnos-img{
    float: center;
    margin-bottom: 8px;
    width: auto;
    height: 102px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}
.convenios{
    padding-right: 25px;
}

.convenios-img{
    float: center;
    margin-top: 19px;
    margin-bottom: 11px;
    width: auto;
    height: 80px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.investigaciones-img{
    float: center;
    margin-top: 19px;
    margin-bottom: 11px;
    width: auto;
    height: 80px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.fondos-img{
    float: center;
    margin-top: 8px;
    margin-bottom: 11px;
    width: auto;
    height: 90px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.proyectos-img{
    float: center;
    margin-bottom: 8px;
    width: auto;
    height: 102px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

@media only screen and (max-width: 600px) {
    /* Para celulares */
    .logros2{ font-size: 13px; margin-bottom: 8%; }
    .carreras-img{ height: 72px; }
    .alumnos-img{ height: 72px; }
    .convenios{ padding-right: 0px; }
    .convenios-img{ height: 50px; }
    .investigaciones-img{ height: 50px; }
    .fondos-img{ height: 60px; }
    .proyectos-img{ height: 62px; }

}

@media only screen and (max-width: 1000px) {
    /* Para tablets: */
    .carreras-img{margin-top: 10px; margin-bottom: 8%; }
    .alumnos-img{margin-top: 10px; }
    .convenios{ padding-right: 0px; }
    .convenios-img{margin-top: 10px; }
    .investigaciones-img{margin-top: 10px; }
    .fondos-img{margin-top: 10px; }
    .proyectos-img{margin-top: 10px; }
}