
@import '../../../shared/colores.scss';

.logros{
    background-color: white;
    height: auto;
    font-size: 23px;
    padding: 2.5% 0px 2.5% 6%;
    color: $rojoPrimario;
}

.logros2{
    float: center;
    color: $rojoPrimario;
    text-align: center;
    font-size: 15px;
    background-color: white;
    height: auto;
    padding: 0% 5%;
    padding-bottom: 5%;
}

.carreras-img{
    float: center;
    margin-bottom: 8px;
    width: auto;
    height: 102px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.alumnos-img{
    float: center;
    margin-bottom: 8px;
    width: auto;
    height: 102px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}
.convenios{
    padding-right: 25px;
}

.convenios-img{
    float: center;
    margin-top: 19px;
    margin-bottom: 11px;
    width: auto;
    height: 80px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.investigaciones-img{
    float: center;
    margin-top: 19px;
    margin-bottom: 11px;
    width: auto;
    height: 80px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.fondos-img{
    float: center;
    margin-top: 8px;
    margin-bottom: 11px;
    width: auto;
    height: 90px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}

.proyectos-img{
    float: center;
    margin-bottom: 8px;
    width: auto;
    height: 102px;
    -webkit-filter: drop-shadow(3px 3px 1px #0000003a);
    filter: drop-shadow(3px 3px 1px #0000003a);
}


@media only screen and (min-width: 1800px) {
    .logros{ font-size: 37px; padding: 2.5% 0% 2.5% 6%; }
    .logros2{ font-size: 25px; padding: 0% 5%; padding-bottom: 4%; }
    .carreras-img{ margin-bottom: 8px; height: 142px; }
    .alumnos-img{ margin-bottom: 8px; height: 142px; }
    .convenios{ padding-right: 25px; }
    .convenios-img{ margin-top: 19px; margin-bottom: 11px; height: 120px; }
    .investigaciones-img{ margin-top: 19px; margin-bottom: 11px; height: 120px; }
    .fondos-img{ margin-top: 8px; margin-bottom: 11px; height: 130px; }
    .proyectos-img{ margin-bottom: 8px; height: 142px; }
    
}

@media only screen and (max-width: 1100px) {
    .logros{ padding: 4% 0% 4% 10%; }
    .logros2{ font-size: 13px; padding-bottom: 5%; }
    .carreras-img{ height: 72px; }
    .alumnos-img{ height: 72px; }
    .convenios{ padding-right: 0px; }
    .convenios-img{ height: 50px; }
    .investigaciones-img{ height: 50px; }
    .fondos-img{ height: 60px; }
    .proyectos-img{ height: 62px; }
}

@media only screen and (max-width: 1000px) {
    .logros{ padding: 4% 0% 2% 10%; }
    .carreras-img{margin-top: 10px; padding-bottom: 8%; }
    .alumnos-img{margin-top: 10px; }
    .convenios{ padding-right: 0px; }
    .convenios-img{margin-top: 10px; }
    .investigaciones-img{margin-top: 10px; }
    .fondos-img{margin-top: 10px; }
    .proyectos-img{margin-top: 10px; }
}

@media only screen and (max-width: 560px) {
    .logros{ display: block; text-align: center; padding: 7% 0% 4% 0%; font-size: 20px; }
    .logros2{ font-size: 13px; padding-bottom: 8%; }
    .carreras-img{ height: 72px; }
    .alumnos-img{ height: 72px; }
    .convenios{ padding-right: 0px; }
    .convenios-img{ height: 50px; }
    .investigaciones-img{ height: 50px; }
    .fondos-img{ height: 60px; }
    .proyectos-img{ height: 62px; }

}

@media only screen and (max-width: 376px) {
    .logros{ display: block; text-align: center; padding: 7% 0% 4% 0%; font-size: 18px; }
    .logros2{ font-size: 13px; padding-bottom: 10%; }
    .carreras-img{ height: 72px; }
    .alumnos-img{ height: 72px; }
    .convenios{ padding-right: 0px; }
    .convenios-img{ height: 50px; }
    .investigaciones-img{ height: 50px; }
    .fondos-img{ height: 60px; }
    .proyectos-img{ height: 62px; }

}