
@import '../../../shared/colores.scss';

::ng-deep div.p-grid {
    font-family: 'PT Sans', sans-serif;
}


/* --------------- DIVISION 1 --------------- */
.footer1{
    background-color: $footer1;
    height: auto;
    color: white;
}

.grupo{
    padding: 35px 35px 35px 35px;
}

/* ------  UBICACIÓN ------- */
.ubicacion{
    font-size: 21px;
}

.texto-ubicacion{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
}

.location{
    float: left;
    width: 12px;
    height: 17px;
    margin-right: 10px;
}

/* ------  CONTACTO ------- */
.contacto{
    font-size: 21px;
}

.texto-contacto{
    margin-top: 15px;
    font-size: 15px;
}

.btn-contacto{
    float: left;
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 15px;
    margin-top: 25px;
    /*margin-left: 10px;*/
    background-color: $rojoPrimario;
    width: 175px;
    height: 114px;
}

.btn-contacto:hover{
    cursor: pointer;
    background-color: $footer2;
}

.contact{
    margin-top: 17px;
    width: 35px;
    height: 38px;
}

.btn-libro{
    float: right;
    text-align: center;
    font-size: 15px;
    color: $rojoPrimario;
    padding-top: 12px;
    margin-top: 25px;
    /*margin-right: 10px;*/
    background-color: white;
    width: 175px;
    height: 114px;
}

.btn-libro:hover{
    cursor: pointer;
    background-color: $footer2;
}

.libro{
    margin-top: 12px;
    width: 42px;
    height: 33px;
}

/* ------  SOBRE ESTE SITIO ------- */
.sobre{
    font-size: 21px;
    margin-bottom: 30px;
}

.texto-sobre{
    padding: 3% 0% 3% 4%;
    font-size: 15px;
}

.texto-sobre:hover{
    cursor: pointer;
    background-color: $footer2;
}

.bloque{
    border-bottom: 1px solid white;
}

.flechita{
    float: right;
}

.flechita:hover{
    cursor: pointer;
}

/* ---------------------- DIVISION 2 ---------------------- */
.footer2{
    background-color: $footer2;
    height: 70px;
    color: white;
}

.derechos{
    font-size: 15px;
    margin-left: 35px;
    margin-top: 18px;
}

.texto-siguenos{
    float: left;
    text-align: right;
    padding: 3% 5% 0% 0%;
    font-size: 15px;
    width: 60%;
    height: 100%;
}

.redes{
    float: right;
    display: inline;
    padding-top: 1%;
    width: 40%;
    height: 100%;
}

.imagen{
    width: auto;
    height: 43px;
    margin-right: 10px;
    margin-left: 8px;
}

.imagen:hover {
    cursor: pointer;
    border-color: $rojoPrimario ;
    border-radius: 100%;
    border-width: 5%;
    border-style: solid;
}

@media only screen and (max-width: 1000px) {
    .btn-contacto{
        text-align: left;
        font-size: 14px;
        margin-top: 25px;
        /*margin-left: 10px;*/
        background-color: $rojoPrimario;
        width: 100%;
        height: auto;  }
    .contact{
        float: right;
        margin-top: 0%;
        width: 35px;
        height: 38px;
    }
}

@media only screen and (max-width: 560px) {
}