<div class="p-grid footer1">
    <div class="p-col-4 ">
        <div class="box ubicacion"><strong>UBICACIÓN</strong></div>
        <div class="box texto-ubicacion">
            Campus principal <br>
            Av. Pacífico 508 - Nuevo Chimbote <br>
            Ancash, Perú
        </div>
        <div class="bloque"></div>
        <div class="box texto-sobre">
            <img class="location" src="assets/images/footer/location.png" alt="Ubicación">
            Cómo llegar
            <img class="flechita" src="assets/images/footer/footer-row.png" alt="flecha">
        </div>
        <div class="bloque"></div>
        <div class="box texto-sobre">
            Ver mapa del campus
            <img class="flechita" src="assets/images/footer/footer-row.png" alt="flecha">
        </div>
        <div class="bloque"></div>
    </div>
    <div class="p-col-4">
        <div class="box contacto"><strong>CONTACTO</strong></div>
        <div class="box texto-contacto">
            Central telefónica (51)-43-310445 <br>
            Transparencia Universitaria: transparencia@uns.edu.pe
        </div>
        <div class="btn-contacto">
            <strong>Enviar mensaje</strong><br>
            <img class="contact" src="assets/images/footer/contact.png" alt="Contacto">
        </div>

        <div class="btn-libro">
            <strong>Libro de<br>Reclamaciones</strong><br>
            <img class="libro" src="assets/images/footer/libro.png" alt="Libro de Reclamaciones">
        </div>
    </div>
    <div class="p-col-4">
        <div class="box sobre"><strong>SOBRE ESTE SITIO</strong></div>
        <div class="bloque"></div>
        <div class="box texto-sobre">
            Mapa del sitio
            <img class="flechita" src="assets/images/footer/footer-row.png" alt="flecha">
        </div>
        <div class="bloque"></div>
        <div class="box texto-sobre">
            Términos y condiciones de uso
            <img class="flechita" src="assets/images/footer/footer-row.png" alt="flecha">
        </div>
        <div class="bloque"></div>
        <div class="box texto-sobre">
            Política de privacidad
            <img class="flechita" src="assets/images/footer/footer-row.png" alt="flecha">
        </div>
        <div class="bloque"></div>
    </div>
</div>

<div class="p-grid footer2">
    <div class="p-col-6 p-text-left">
        <div class="box derechos">© Universidad Nacional del Santa - Todos los derechos reservados</div>
    </div>
    <div class="p-col-6">
        <div class="texto-siguenos">
            SÍGUENOS EN:
        </div>
        <div class="redes">
            <img class="imagen" src="assets/images/footer/facebook.png" alt="facebook">
            <img class="imagen" src="assets/images/footer/youtube.png" alt="youtube">
            <img class="imagen" src="assets/images/footer/twitter.png" alt="twitter">
            <img class="imagen" src="assets/images/footer/instagram.png" alt="instagram">
        </div>
    </div>
</div>
