
@import '../../../shared/colores.scss';

::ng-deep div.p-grid {
    font-family: 'PT Sans', sans-serif;
}


/* --------------- DIVISION 1 --------------- */
.footer1{
    background-color: $footer1;
    height: auto;
    color: white;
}

.grupo{
    padding: 35px 35px 35px 35px;
}

/* ------  UBICACIÓN ------- */
.ubicacion{
    font-size: 21px;
}

.texto-ubicacion{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 15px;
}

.location{
    float: left;
    width: 12px;
    height: 17px;
    margin-right: 10px;
}

/* ------  CONTACTO ------- */
.contacto{
    font-size: 21px;
}

.texto-contacto{
    margin-top: 15px;
    font-size: 15px;
}

.btn-contacto{
    float: left;
    text-align: center;
    font-size: 15px;
    color: white;
    padding-top: 15px;
    margin-top: 25px;
    /*margin-left: 10px;*/
    background-color: $rojoPrimario;
    width: 175px;
    height: 114px;
}

.btn-contacto:hover{
    cursor: pointer;
    background-color: $footer2;
}

.contact{
    margin-top: 17px;
    width: 35px;
    height: 38px;
}

.btn-libro{
    float: right;
    text-align: center;
    font-size: 15px;
    color: $rojoPrimario;
    padding: 12px 15px 0px 15px;
    margin-top: 25px;
    /*margin-right: 10px;*/
    background-color: white;
    width: 175px;
    height: 114px;
}

.btn-libro:hover{
    cursor: pointer;
    background-color: $footer2;
}

.libro{
    margin-top: 12px;
    width: 42px;
    height: 33px;
}

/* ------  SOBRE ESTE SITIO ------- */
.sobre{
    font-size: 21px;
    margin-bottom: 30px;
}

.texto-sobre{
    padding: 3% 0% 3% 4%;
    font-size: 15px;
}

.texto-sobre:hover{
    cursor: pointer;
    background-color: $footer2;
}

.bloque{
    border-bottom: 1px solid white;
}

.flechita{
    float: right;
}

.flechita:hover{
    cursor: pointer;
}

/* ---------------------- DIVISION 2 ---------------------- */
.footer2{
    background-color: $footer2;
    height: auto;
    color: white;
}

.derechos{
    font-size: 15px;
    padding-left: 5%;
    padding-top: 3%;
}

.texto-siguenos{
    float: left;
    text-align: right;
    padding: 3% 5% 0% 0%;
    font-size: 15px;
    width: 60%;
    height: 100%;
}

.redes{
    float: right;
    display: inline;
    padding-top: 1%;
    width: 40%;
    height: 100%;
}

.imagen{
    width: auto;
    height: 43px;
    margin-right: 10px;
    margin-left: 8px;
}

.imagen:hover {
    cursor: pointer;
    border-color: $footer2 ;
    border-radius: 100%;
    border-width: 5%;
    border-style: solid;
}

@media only screen and (min-width: 1800px) {
    .grupo{ padding: 45px 40px 50px 40px; }
    .texto-sobre{ padding: 3% 0% 3% 5%; font-size: 25px; }
    // UBICACION
    .ubicacion{ font-size: 35px; }
    .texto-ubicacion{ margin-bottom: 20px; font-size: 25px; }
    // CONTACTO
    .contacto{ font-size: 35px; }
    .texto-contacto{ font-size: 25px; }
    .btn-contacto{ font-size: 25px; padding: 4%; margin-top: 7%; width: 45%; height: auto}
    .btn-libro{ font-size: 25px; padding: 4%; margin-top: 7%; width: 45%; height: auto }
    .libro{ margin-top: 17px; width: 52px; height: 43px; }
    .contact{ margin-top: 17px; width: 45px; height: 48px; }
    // SOBRE ESTE SITIO
    .sobre{ font-size: 35px; }
    // COPYRIGHT Y REDES SOCIALES
    .derechos{ padding-top: 2%; padding-left: 4%; font-size: 25px; }
    .texto-siguenos{ padding: 2% 5% 0% 0%; font-size: 28px; width: 60%; height: 100%; }
    .redes{ width: 40%; padding-top: 1%; }
    .imagen{ height: 70px; margin-right: 15px; margin-left: 14px; }
    .flechita{ width: 3%; height: auto;}
}

@media only screen and (max-width: 1280px) {
    .btn-contacto{ float: center; font-size: 13px; padding: 4%; margin-top: 7%; width: 100%; height: auto}
    .contact{ display: none; }
    .btn-libro{ float: center; font-size: 13px; padding: 4%; margin-top: 7%; width: 100%; height: auto }
    .libro{ display: none;}
    .texto-siguenos{ padding: 4% 5% 0% 0%; font-size: 13px; width: 40%; height: 100%; }
    .redes{ width: 60%; padding-top: 1%; }
}

@media only screen and (max-width: 1000px) {
    .grupo{ padding: 25px 20px 30px 20px; }
    .texto-sobre{ padding: 5% 0% 5% 5%; font-size: 13px; }
    // UBICACION
    .ubicacion{ font-size: 18px; }
    .texto-ubicacion{ margin-bottom: 20px; font-size: 13px; }
    // CONTACTO
    .contacto{ font-size: 18px; }
    .texto-contacto{ font-size: 13px; }
    .btn-contacto{ float: center; font-size: 13px; padding: 4%; margin-top: 7%; width: 100%; height: auto}
    .contact{ display: none; }
    .btn-libro{ float: center; font-size: 13px; padding: 4%; margin-top: 7%; width: 100%; height: auto }
    .libro{ display: none;}
    // SOBRE ESTE SITIO
    .sobre{ font-size: 18px; }
    // COPYRIGHT Y REDES SOCIALES
    .derechos{ padding-top: 2%; padding-left: 4%; font-size: 13px; }
    .texto-siguenos{ padding: 4% 5% 0% 0%; font-size: 13px; width: 40%; height: 100%; }
    .redes{ width: 60%; padding-top: 2%; }
    .imagen{ height: 40px; margin-right: 5px; margin-left: 4px; }
}

@media only screen and (max-width: 560px) {
    .footer1{ padding-bottom: 15px; }
    .grupo{ padding: 25px 20px 5px 20px; }
    .texto-sobre{ padding: 2% 0% 3% 5%; font-size: 13px; }
    // UBICACION
    .ubicacion{ font-size: 18px; }
    .texto-ubicacion{ margin-bottom: 20px; font-size: 13px; }
    // CONTACTO
    .contacto{ font-size: 18px; }
    .texto-contacto{ font-size: 13px; }
    .btn-contacto{ float: center; font-size: 13px; padding: 3%; margin-top: 4%; width: 100%; height: auto}
    .contact{ display: none; }
    .btn-libro{ float: center; font-size: 13px; padding: 3%; margin-top: 3%; width: 100%; height: auto }
    .libro{ display: none;}
    // SOBRE ESTE SITIO
    .sobre{ margin-bottom: 15px; font-size: 18px; }
    // COPYRIGHT Y REDES SOCIALES
    .derechos{ text-align: center; padding-top: 2%; padding-left: 0%; font-size: 13px; }
    .texto-siguenos{ padding: 2.5% 5% 0% 0%; font-size: 13px; width: 40%; height: 100%; }
    .redes{ width: 60%; padding-top: 0%; }
    .imagen{ height: 40px; margin-right: 5px; margin-left: 4px;}
}

@media only screen and (max-width: 376px) {
    .footer1{ padding-bottom: 15px; }
    .grupo{ padding: 25px 20px 5px 20px; }
    .texto-sobre{ padding: 2% 0% 3% 5%; font-size: 11px; }
    // UBICACION
    .ubicacion{ font-size: 16px; }
    .texto-ubicacion{ margin-bottom: 20px; font-size: 11px; }
    // CONTACTO
    .contacto{ font-size: 16px; }
    .texto-contacto{ font-size: 11px; }
    .btn-contacto{ float: center; font-size: 11px; padding: 3%; margin-top: 4%; width: 100%; height: auto}
    .contact{ display: none; }
    .btn-libro{ float: center; font-size: 11px; padding: 3%; margin-top: 3%; width: 100%; height: auto }
    .libro{ display: none;}
    // SOBRE ESTE SITIO
    .sobre{ margin-bottom: 15px; font-size: 16px; }
    // COPYRIGHT Y REDES SOCIALES
    .derechos{ text-align: center; padding-top: 2%; padding-left: 5%; padding-right: 5%; font-size: 11px; }
    .texto-siguenos{ padding: 2.5% 5% 0% 0%; font-size: 12px; width: 40%; height: 100%; }
    .redes{ width: 60%; padding-top: 0%; }
    .imagen{ height: 30px; margin-right: 5px; margin-left: 4px;}
    .flechita{ width: 4%; height: auto;}
}