
// Rojo principal
$rojoPrimario: #E80035;
$rojoSelectivo: #9B0023;

// Fondo gris para el apartado de Vinculos
$grisVinculos: #F5F5F5;

// Colores del fondo del Footer
$footer1: #9B0023;
$footer2: #6A0018;

// Colores para los carruseles
$grisbotonCarrusel: #767676;