
<div [ngStyle]="{'color': tema[0].color_titulo , 'background-color': tema[0].color_fondo}" class="p-grid noticias">
    <b>NOTICIAS</b>
</div>

<div class="p-grid news" [ngStyle]="{'background-color': tema[0].color_fondo }">
    <div class="p-col-12">
        <p-carousel [value]="noticias" [numVisible]="4" [numScroll]="4" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions" 
        [style]="{}">
            <ng-template let-noticia pTemplate="item">
                <div class="card">
                    <img class="card-img" src="{{ noticia.srcImage }}" alt="{{ noticia.title }}" /><br />

                    <div class="card-text">
                        {{ noticia.title }}
                    </div>
                    <div class="fecha">
                        {{ noticia.fecha }}
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>