
@import "../../../shared/colores.scss";

::ng-deep .p-component {
    font-family: 'PT Sans', sans-serif;
}




.titulo{

    margin: 0%;
    margin-top: 2%;
    margin-left: 5%;
    color: $rojoPrimario;

    //margin-top: 30%;
    //margin-left: 80%;
    //padding: 2px;
    //margin-bottom: 1%;
}
    
    


.noticias{

    background-color: white;
    //height: 30%;    
}

.news{
    
    padding-left: 3%;
    padding-right: 3%;
    //padding-right: 90%;
    //background-color: white;
    //height: auto;
   // margin-top: 10%;
    //margin-bottom: 2%;
}

.card{
    float: center;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    //width: 320px;
    margin: 4%;
    padding: 3%;
   /* margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
   
    
    
    height: 330%;*/
    -webkit-filter: drop-shadow(3px 3px 5px #0000003a);
    filter: drop-shadow(3px 3px 5px #0000003a);
}

.card-text{
    text-align: center;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 100px;
    overflow: hidden;
    //height: 65px;
}


.fecha{
    //margin-top: 10px;
    color: $rojoPrimario;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    bottom:3%;
    //float: bottom;
    width: 90%;
    white-space: nowrap;
}

.card-img{
    float: center;
    text-align: center;
    border-radius: 10%;
    width: 90%;
    height: 180px;
    margin-top: 5%;
    object-fit: cover;
    //height: 190px;
    //margin-bottom: 8%;
}


::ng-deep .news .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    padding-top: 0;
    margin-top: 5px;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: $grisbotonCarrusel;
    border-width: 2.2px;
    height: 12px;
    width: 25px;

}
@media(max-width: 560px){
    ::ng-deep .news ul  {
        display: none;
    }
    
}


::ng-deep .news .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    
    background-color: $rojoPrimario;
    border-color: $rojoPrimario;
    border-radius: 5px;
}

/* FLECHAS DE LOS COSTADOS */
::ng-deep .news button.p-link.p-ripple span.p-carousel-prev-icon{
    font-weight: bolder;
    color: $rojoPrimario;
    border-radius: 0px;
}