
<div [ngStyle]="{'color': tema.color_titulo , 'background-color': tema.color_fondo}" class="p-grid noticias">
    <b>NOTICIAS</b>
</div>

<div class="p-grid news" [ngStyle]="{'background-color': tema.color_fondo }">
    <div class="p-col-12">
        <p-carousel [value]="noticias" [numVisible]="4" [numScroll]="4" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions" 
        [style]="{}">
            <ng-template let-noticia pTemplate="item">
                <div class="card">
                    <img class="card-img" [src]="noticia.host_imagen+'/'+noticia.nombre_imagen" [alt]="noticia.nombre_imagen" /><br />
                    <div class="card-text">
                        {{ noticia.titular }}
                    </div>
                    <div class="fecha">
                        {{ noticia.fecha_noticia | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>