
@import '../../../shared/colores.scss';

.text-block{
    position: absolute;
    bottom: 8px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: bold;
    padding: 5px;
    border-radius: 0px 0px 5px 0px ;
}

.comunicados{
    background-color: $rojoPrimario;
    height: 80px;
    margin-top: 1px;
}

.events{
    background-color: $rojoPrimario;
    padding-left: 90px;
    padding-right: 90px;
}

.titulo{
    margin-top: 0px;
    margin-left: 80px;
    color: white;
}

.card{
    float: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    width: auto;
    height: auto;
    position: relative;
}

.com-img{
    float: center;
    text-align: center;
    width: 300px;
    height: 360px;
}

::ng-deep .events .p-carousel .p-carousel-indicators .p-carousel-indicator button {
    margin-top: 15px;
    margin-bottom: 18px;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 2.2px;
    height: 12px;
    width: 25px;
}


::ng-deep .events .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    
    background-color: white;
    border-color: white;
    border-radius: 5px;
}

/* FLECHAS DE LOS COSTADOS */
::ng-deep .events button.p-link.p-ripple span.p-carousel-prev-icon{
    font-weight: bolder;
    color: white;
    border-radius: 0px;
}