
<div class="p-grid comunicados">
    <b>COMUNICADOS</b>
</div>

<div class="p-grid events">
    <div class="p-col-12">
        <p-carousel [value]="comunicados" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
            <ng-template let-comunicado pTemplate="item">

                    <div class="card">
                        <img class="com-img" src="{{comunicado.srcImage}}" alt="Comunicado1">
                        <div class="text-block">
                            <b>{{comunicado.fecha}}</b>
                        </div>
                    </div>
                    
            </ng-template>
        </p-carousel>
    </div>
</div>