
<div [ngStyle]="{'color': tema.color_titulo , 'background-color': tema.color_fondo}" class="p-grid comunicados">
    <b>COMUNICADOS</b>
</div>

<div [ngStyle]="{'background-color': tema.color_fondo}" class="p-grid events">
    <div class="p-col-12">
        <p-carousel [value]="comunicados" [numVisible]="3" [numScroll]="3" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template let-comunicado pTemplate="item">

                    <div class="card">
                        <img class="com-img" [src]="comunicado.host_imagen+'/'+comunicado.nombre_imagen" [alt]="comunicado.nombre_imagen">
                        <div class="text-block">
                            <b>{{comunicado.fecha_comunicado | date: 'dd/MM/yyyy'}}</b>
                        </div>
                    </div>
                    
            </ng-template>
        </p-carousel>
    </div>
</div>