
<div class="text-block" style="width: 96%">
  <div>
    <div class="" style="float: left">
      <img
        src="assets/images/menu/logo-blanco-uns.png"
        alt="Logo UNS"
        width="150"
        style="margin-left: 20px"
      />
    </div>

    <div>
      <div class="navbar" style="float: right">
        <div class="dropdown">
          <button class="dropbtn">
            ADMISIÓN
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#"><b>PROCESO DE ADMISIÓN</b></a>
            <a class="droplink" href="#">Proceso de incripción</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Cronograma</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Derecho de inscripción</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Inscripción online</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Tabla de conversiones</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Reglamento</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Temario</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Consejos</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Preguntas frecuentes</a>
            <div class="linea"></div>
            <br>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            FACULTADES
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <div class="p-grid">
              <div class="p-col">
                <a href="#"><b>FACULTAD DE INGENIERÍA</b></a>
                <a class="droplink" href="#">Ingeniería de Sistemas e Informática</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ingeniería Civil</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ingeniería Agroindustrial</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ingeniería en Energía</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ingeniería Agrónoma</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ingeniería Mecánica</a>
                <div class="linea"></div>
                <br>
              </div>

              <div class="p-col">
                <a href="#"><b>FACULTAD DE CIENCIAS</b></a>
                <a class="droplink" href="#">Biología en Acuilcultura</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Enfermería</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Biotecnología</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Medicina Humana</a>
                <div class="linea"></div>
                <br>
              </div>

              <div class="p-col">
                <a href="#"><b>FACULTAD DE EDUCACIÓN Y HUMANIDADES</b></a>
                <a class="droplink" href="#">Educación Inicial</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Educación Primaria</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Educación Secundaria</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Comunicación Social</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Derecho y Ciencias Políticas</a>
                <div class="linea"></div>
                <br>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            POSTGRADO
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <div class="p-grid">
              <div class="p-col">
                <a href="#"><b>MAESTRÍAS</b></a>
                <a class="droplink" href="#">Derecho Constitucional</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Derecho Penal</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ciencias de Enfemería</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ciencias de Educación</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Ciencias Energéticas</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Gerencia de Industrias Agropecuarias</a>
                <div class="linea"></div>
                <br>
              </div>

              <div class="p-col">
                <a href="#"><b>DOCTORADOS</b></a>
                <a class="droplink" href="#">Concepción del Doctorado</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Perfil del Doctor</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Matrícula</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Inversión</a>
                <div class="linea"></div>
                <a class="droplink" href="#">Informes e Inscripciones</a>
                <div class="linea"></div>
                <br>
              </div>
            </div>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            DIRECCIONES
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a class="droplink" href="#">Rectorado</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Vicerrectorado Académico</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Vicerrectorado de Investigación</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Dirección General de Administración</a>
            <div class="linea"></div>
            <br>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            C. DE PRODUCCIÓN
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a class="droplink" href="#">Centro Preuniversitario<br/><b>CEPUNS</b></a>
            <div class="linea"></div>
            <a class="droplink" href="#">Centro de Idiomas<br/><b>CEIDUNS</b></a>
            <div class="linea"></div>
            <a class="droplink" href="#">Centro de Cómputo<br/><b>CECOMP</b></a>
            <div class="linea"></div>
            <a class="droplink" href="#">Centro Preuniversitario<br/><b>CEIDUNS</b></a>
            <div class="linea"></div>
            <a class="droplink" href="#">Institución Educativa Experimental</a>
            <div class="linea"></div>
            <a class="droplink" href="#">Planta Piloto Agroindustrial</a>
            <div class="linea"></div>
            <br />
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">
            VÍNCULOS
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Universidad</a>
            <div class="linea"></div>
            <a href="#">Directorio</a>
            <div class="linea"></div>
            <a href="#">Intranet</a>
            <div class="linea"></div>
            <a href="#">Defensoría Universitaria</a>
            <div class="linea"></div>
            <a href="#">Licenciamiento</a>
            <div class="linea"></div>
            <a href="#">Campus Virtual</a>
            <div class="linea"></div>
            <a href="#">Correo UNS</a>
            <div class="linea"></div>
            <a href="#">Transparencia</a>
            <div class="linea"></div>
            <br>
          </div>
        </div>

        <div class="dropdown" style="padding: 5px">
          <div class="search">
            <input type="text" placeholder=" " />
            <div>
              <svg>
                <use xlink:href="#path"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 28" id="path">
    <path
      d="M32.9418651,-20.6880772 C37.9418651,-20.6880772 40.9418651,-16.6880772 40.9418651,-12.6880772 C40.9418651,-8.68807717 37.9418651,-4.68807717 32.9418651,-4.68807717 C27.9418651,-4.68807717 24.9418651,-8.68807717 24.9418651,-12.6880772 C24.9418651,-16.6880772 27.9418651,-20.6880772 32.9418651,-20.6880772 L32.9418651,-29.870624 C32.9418651,-30.3676803 33.3448089,-30.770624 33.8418651,-30.770624 C34.08056,-30.770624 34.3094785,-30.6758029 34.4782612,-30.5070201 L141.371843,76.386562"
      transform="translate(83.156854, 22.171573) rotate(-225.000000) translate(-83.156854, -22.171573)"
    ></path>
  </symbol>
</svg>

<!-- dribbble -->
<a
  class="dribbble"
  href="https://dribbble.com/shots/5547403-Search-input-animation"
  target="_blank"
>
  <img
    src="https://dribbble.com/assets/logo-small-2x-9fe74d2ad7b25fba0f50168523c15fda4c35534f9ea0b1011179275383035439.png"
    alt=""
  />
</a>
