
@import "../../../shared/colores.scss";

.logo-uns {
  width: auto;
  height: 80px;
  margin-top: 10px;
  margin-left: 25px;
}

.text-block {
  position: absolute;
  top: 8px;
  color: white;
  z-index: 100;
  width: 98%;
  border: 0px;
  padding-right: 0px;
}

// -------------------------------------------------------------------------------------------------------
//                                      SIDEBAR
// -------------------------------------------------------------------------------------------------------
::ng-deep{
  .p-sidebar{
    background: $rojoPrimario;
  }

  .p-sidebar-left{
    width: auto !important;
  }

  .p-sidebar .p-sidebar-close {
    display: none;
  }

  .p-button{
    background: none;
    border: 0px;
    float: right;
  }

     
  .MenuBtn {
    display: none;
  }

  .p-button:enabled:hover, .p-button:enabled:focus{
    background: none;
    border: none;
    box-shadow: none;
  }
}

// -------------------------------------------------------------------------------------------------------
//                                       MEGA MENU y TEXT-BLOCK
// -------------------------------------------------------------------------------------------------------
::ng-deep{
  .VerticalMenuBox {
    visibility: hidden;
  }

  .p-megamenu{
    float: right;
    background: none;
    border: 0px;
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .p-megamenu .p-menuitem.p-menuitem-active > .p-menuitem-link{
    color: white;
    background: none;
  }
  .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon{
    color: white;
  }

  .p-inputtext{
    margin-left: 20px;
    padding-left: 20px;
    border: 0px;
    border-radius: 50px;
  }

  .VerticalMenu .p-inputtext{
    margin-left: 0;
  }
  .p-megamenu .p-megamenu-panel{
    background-color: $rojoPrimario;
  }
  .p-megamenu .p-menuitem-link .p-menuitem-text{
    color: white;
  }
  .p-megamenu .p-megamenu-submenu-header{
    text-align: center;
    color: white;
    text-transform: uppercase;
    background: none;
  }
}

// -------------------------------------------------------------------------------------------------------
//                                             RESPONSIVE
// -------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 1800px) {

  .logo-uns { width: auto; height: 150px; margin-top: 20px; margin-left: 50px;}
}

@media only screen and (max-width: 1100px) {
  .logo-uns { height: 50px; margin-top: 5px; margin-left: 10px;}
}

@media only screen and (max-width: 1250px) {
  ::ng-deep{
    .MenuBtn {
      display: block;
    }

    .HorizontalMenu .p-megamenu {
      display: none;
    }
  }
}



@media only screen and (max-width: 1000px) {

}

@media only screen and (max-width: 560px) {
  .logo-uns { height: 40px; margin-top: 3px; margin-left: 8px;}
  ::ng-deep{
    .p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text, .p-inputtext{
      font-size: 12px;
    }

    .p-sidebar-left{
      width: 220px !important;
    }
  }
}

@media only screen and (max-width: 376px) {
  .logo-uns { height: 30px; margin-top: 2px; margin-left: 6px;}
}