
<div class="p-grid vinculos">
    <b>VÍNCULOS DE INTERÉS</b>
</div>

<div class="p-grid logos">
    <div class="p-col-12">
        <p-carousel [value]="logos" styleClass="carrucel" [numVisible]="5" [numScroll]="5" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template let-log pTemplate="item">

                    <div class="card">
                        <img class="logo-img" [src]="log.srcImage" [alt]="log.alt">
                    </div>

            </ng-template>
    </p-carousel>
    </div>
</div>
