
<div [ngStyle]="{'color': tema.color_titulo , 'background-color': tema.color_fondo}" class="p-grid vinculos">
    <b>VÍNCULOS DE INTERÉS</b>
</div>

<div [ngStyle]="{'background-color': tema.color_fondo}" class="p-grid logos">
    <div class="p-col-12">
        <p-carousel [value]="vinculos" styleClass="carrucel" [numVisible]="5" [numScroll]="5" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
            <ng-template let-vinculo pTemplate="item">

                    <div class="card">
                        <img class="logo-img" [src]="vinculo.host_imagen+'/'+vinculo.nombre_imagen" [alt]="vinculo.nombre_imagen">
                    </div>

            </ng-template>
    </p-carousel>
    </div>
</div>
