
@import '../../../shared/colores.scss';

.titulo{
    margin-top: 40px;
    margin-left: 80px;
    color: $rojoPrimario;
}

.vinculos{
    background-color: $grisVinculos;
    height: auto;
    font-size: 23px;
    padding: 2.5% 0px 2.5% 6%;
    color: $rojoPrimario;
}

.logos{
    background-color: $grisVinculos;
    height: auto;
    padding-right: 38px;
    padding-left: 38px;
}

.card{
    margin-left: 14%;
    margin-right: 14%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    height: auto;
    width: auto;
}

.logo-img{
    text-align: center;
    width: auto;
    height: 110px;
}

/* BOTON ACTIVO (Los cambios sobreescriben el de los Inactivos)*/
::ng-deep div.logos ul.p-carousel-indicators.p-reset li.p-carousel-indicator.p-highlight button.p-link {
    background-color: $rojoPrimario;
    border-color: $rojoPrimario;
    border-radius: 5px;
}
/* BOTÓNES INACTIVOS (los cambios aqui aplican para el Boton Activo)*/
::ng-deep div.logos ul.p-carousel-indicators.p-reset li.p-carousel-indicator button.p-link {
    margin-top: 15px;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: $grisbotonCarrusel;
    border-width: 2.2px;
    height: 12px;
    width: 25px;
}

/* FLECHAS DE LOS COSTADOS */
::ng-deep div.logos button.p-link.p-ripple span.p-carousel-prev-icon{
    font-weight: bolder;
    color: $rojoPrimario;
    border-radius: 0px;
}

@media only screen and (max-width: 1025px) {
    .vinculos{ padding: 4% 0% 4% 10%; }
    .card{ margin-left: 6%; margin-right: 6%; }
    .logo-img{ height: 100px; }
}

@media only screen and (max-width: 1000px) {
    .vinculos{ padding: 4% 0% 4% 10%; }
    .card{ margin-left: 5%; margin-right: 5%; }
    .logo-img{ height: 100px; }
}

@media only screen and (max-width: 560px) {
    ::ng-deep .logos ul  { display: none; }
    .vinculos{ padding: 6% 0% 5% 13%; font-size: 20px; }
    .card{ margin-left: 5%; margin-right: 5%; }
    .logos{ padding-bottom: 6%; padding-right: 0%; padding-left: 0%; }
    .logo-img {height: 90px;}
}

@media only screen and (max-width: 380px) {
    ::ng-deep .logos ul  { display: none; }
    .vinculos{ padding: 6% 0% 5% 13%; font-size: 20px; }
    .card{ margin-left: 15%; margin-right: 15%; }
    .logos{ padding-bottom: 6%; padding-right: 8%; padding-left: 8%; }
    .logo-img {height: 95px;}
}